<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="59">
    <title>{% block title %}Domitoring{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
</head>
<body>

<div id="content" class="container-fluid">
    {% for message in app.flashes('error') %}
        <div class="row">
            <div class="flash-notice">
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('notice') %}
        <div class="row">
            <div class="flash-notice">
                <div class="alert alert-success" role="alert">{{ message }}</div>
            </div>
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>