{% extends 'base.html.twig' %}

{% block body %}

    <h2>Server status history</h2>
    <div class="row">
        <div class="col-xs-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">
                    Errors
                </li>
                <li class="list-group-item">
                    Last 24h <span class="pull-right">{{ count1 }}</span>
                </li>
                <li class="list-group-item">
                    Last 7d <span class="pull-right">{{ count7 }}</span>
                </li>
                <li class="list-group-item">
                    Last 30d <span class="pull-right">{{ count30 }}</span>
                </li>
            </ul>
        </div>

        <div class="col-xs-6">

            <ul class="list-group">
                {% if history is empty %}
                    <li class="list-group-item">NO ENTRY</li>
                {% endif %}

                <small>
                    {% for entry in history %}
                        <li class="list-group-item{% if "now"|date('d.m.Y') == entry.pingDatetime|date('d.m.Y') %} list-group-item-warning{% endif %}">Server: {{ entry.name }} <br> Date: {{ entry.pingDatetime|date('d.m.Y - H:i') }} Uhr <br> Http: {{ entry.pingHttpCode }} {% if entry.pingHttpCode == 0 %}Timeout{% endif %}</li>

                    {% endfor %}
                </small>
            </ul>
        </div>

    </div>

{% endblock %}