{% extends 'base.html.twig' %}

{% block body %}
    <h2>Monitoring</h2>
    <div class="row">

        {% if pings is empty %}
            <a href="{{ path('app_generator_newping') }}" class="btn btn-default btn-block">Live Ping</a>
        {% endif %}

        {% for ping in pings %}
            <div class="col-md-6 {% if loop.last and pings|length is odd %}col-md-offset-3{% endif %}">
                <div class="ping {% if ping.pingSuccess %}success{% else %}danger{% endif %}" data-id="ping{{ ping.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="pingGlyphicon{{ ping.id }} glyphicon gl-ping text-center glyphicon-{% if ping.pingSuccess %}ok-sign{% else %}remove-sign{% endif %}"
                                  aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-8">
                            <span data-toggle="tooltip" data-placement="right" title="{{ ping.url }}"><span class="glyphicon gl-small glyphicon-map-marker"></span> {{ ping.name }}</span><br>

                            <span data-toggle="tooltip" data-placement="right" title="Last Ping"><span class="glyphicon gl-small glyphicon-time"></span>
                                <span data-id="pingDatetime{{ ping.id }}">{{ ping.pingDatetime|date('H:i') }}</span> Uhr</span><br>


                            <span data-id="pingHttpCodeText{{ ping.id }}" data-toggle="tooltip" data-placement="right" title="{{ ping.httpCodeText }}"><span class="glyphicon gl-small glyphicon-transfer"></span>
                                <span data-id="pingHttpCode{{ ping.id }}">{{ ping.pingHttpCode }}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Server Blockieren</h2>
    <div class="row">

        {% if blocks is empty %}
            <a href="{{ path('app_generator_newblock') }}" class="btn btn-default btn-block">Block'able Server</a>
        {% endif %}

        {% for block in blocks %}
            <div class="col-md-6 {% if loop.last and blocks|length is odd %}col-md-offset-3{% endif %}">
                <div class="block {% if block.free %}free{% else %}blocked{% endif %}" data-id="block{{ block.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            {{ block.name }}<br>
                            <span class="glyphicon{{ block.id }} glyphicon gl-block glyphicon-{% if block.free %}edit{% else %}ban-circle{% endif %}"
                                  aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-6 {% if block.free %}hidden{% endif %}" data-id="blockDescription{{ block.id }}">

                            <span data-toggle="tooltip" data-placement="right" title="blocked by"><span class="glyphicon gl-small glyphicon-user"></span>
                                <span data-id="blockUser{{ block.id }}">{{ block.user }}</span></span><br>
                            <span data-toggle="tooltip" data-placement="right" title="blocked since"><span class="glyphicon gl-small glyphicon-time"></span>
                                <span data-id="blockDatetime{{ block.id }}">{{ block.blockedSince is empty ? "" : block.blockedSince|date('H:i') }}</span></span><br>
                            <span data-toggle="tooltip" data-placement="right" title="blocking reason"><span class="glyphicon gl-small glyphicon-list-alt"></span>
                                <span data-id="blockReason{{ block.id }}">{{ block.reason }}</span></span>

                        </div>
                        <div class="{% if block.free %}col-xs-offset-6 {% endif %}col-xs-2">
                            {% if block.free %}
                                <button data-toggle="modal" data-target="#blockModal{{ block.id }}"
                                        data-id="{{ block.id }}" type="button"
                                        data-sname="{{ block.name }}"
                                        class="btn btn-blue pull-right">
                                    block me
                                </button>

                                <div class="modal fade" id="blockModal{{ block.id }}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Block {{ block.name }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% set form = formObject.createView %}
                                                {{ form_start(form) }}
                                                {{ form_row(form.user, {'attr': {'placeholder': 'Name' }}) }}
                                                {{ form_row(form.reason, {'attr': {'placeholder': 'Reason...' }}) }}
                                                {{ form_row(form.id, {'attr': {'value': block.id }}) }}
                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% else %}

                                <button data-toggle="modal" data-target="#freeModal{{ block.id }}"
                                        data-id="{{ block.id }}" type="button"
                                        data-sname="{{ block.name }}"
                                        class="btn btn-grey pull-right">
                                    set free
                                </button>
                                <div class="modal fade" id="freeModal{{ block.id }}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Server freigeben</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p><b>{{ block.name }}-Server</b> wieder freigeben?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                                                </button>
                                                <a type="submit" class="btn btn-primary"
                                                   href="{{ path('free_block_server', {'id': block.id}) }}">Ja</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    <audio id="alert-sound" src="{{ asset('sound/alarm-submarine.mp3') }}" type="audio/mpeg"></audio>

{% endblock %}

    {% block customJS %}
         <script>
            $(function() {
                window.setInterval(function () {
                    $.get('/status/ping', function(response) {
                        $(response).each(function (index, item) {
                            //update datetime
                            $('span[data-id="pingDatetime' + item.id + '"]').text(item.pingDatetime);
                            //update statuscode
                            $('span[data-id="pingHttpCode' + item.id + '"]').text(item.pingHttpCode);
                            //update status info text
                            $('span[data-id="pingHttpCodeText' + item.id + '"]').attr("data-original-title",item.pingHttpCodeText);

                            if (item.pingSuccess === true) {
                                //update color
                                $('div[data-id="ping' + item.id + '"]').removeClass('danger').addClass('success');
                                //change glyphicon
                                $("span.pingGlyphicon"+item.id).removeClass('glyphicon-remove-sign').addClass('glyphicon-ok-sign');
                            } else {
                                //update color
                                $('div[data-id="ping' + item.id + '"]').addClass('danger').removeClass('success');
                                //change glyphicon
                                $("span.pingGlyphicon"+item.id).removeClass('glyphicon-ok-sign').addClass('glyphicon-remove-sign');
                                //play alert
                                $("#alert-sound")[0].play();
                            }
                        });
                    }, 'json');
                }, 6500);
            });
        </script>

        <script>
            $(function() {
                window.setInterval(function () {
                    $.get('/status/block', function(response) {
                        $(response).each(function (index, item) {

                            //TODO CHANGE BUTTON !!!

                            //update datetime
                            $('span[data-id="blockDatetime' + item.id + '"]').text(item.blockedSince);
                            //update statuscode
                            $('span[data-id="blockUser' + item.id + '"]').text(item.user);
                            //update status info text
                            $('span[data-id="blockReason' + item.id + '"]').text(item.reason);

                            if (item.free === true) {
                                //update color
                                $('div[data-id="block' + item.id + '"]').removeClass('blocked').addClass('free');
                                //change glyphicon
                                $("span.glyphicon"+item.id).removeClass('glyphicon-ban-circle').addClass('glyphicon-edit');
                                //hide the text
                                $('div[data-id="blockDescription' + item.id + '"]').addClass('hidden');

                            } else {
                                //update color
                                $('div[data-id="block' + item.id + '"]').addClass('blocked').removeClass('free');
                                //change glyphicon
                                $("span.glyphicon"+item.id).removeClass('glyphicon-edit').addClass('glyphicon-ban-circle');
                                //show the text 'remove hidden'
                                $('div[data-id="blockDescription' + item.id + '"]').removeClass('hidden');
                                //TODO Update text
                            }
                        });
                    }, 'json');
                }, 4300);
            });
        </script>
    {% endblock %}